<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 扫描类包，将标注Spring注解的类自动转化Bean，同时完成Bean的注入 start -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.jitmarketing.dao"/>
    </bean>


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:config/mapxml/**/*.xml"/>
        <property name="configLocation" value="classpath:/config/spring/mybatis-config.xml"/>
        <!-- mybatis 插件分页start -->
        <property name="typeAliasesPackage" value="cn.jitmarketing.domain" />
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <value>
                            dialect=hsqldb
                            reasonable=true
                        </value>
                    </property>
                </bean>
            </array>
        </property>
        <!-- mybatis 插件分页end -->
    </bean>
    <!-- 持久层 end -->


</beans>
