<!DOCTYPE html>
<html lang="en">
<base href="${request.contextPath}/">
<head>
    <meta charset="UTF-8">
    <title>sysUser信息</title>
</head>
<link rel="shortcut icon" href="resource/favicon.ico" type="image/x-icon"/>
<link href="resource/common.css" rel="stylesheet" type="text/css"/>
<body>
    <table>
        <tr>
            <td>Email</td>
            <td>${obj.email}</td>
        </tr>
        <tr>
            <td>QQ</td>
            <td>${obj.qq}</td>
        </tr>
        <tr>
            <td>TelPhone</td>
            <td>${obj.telPhone}</td>
        </tr>

    </table>
</body>
</html>
